spring:
  application:
    name: gateway-service
  config:
    import: vault://
  cloud:
    vault:
      kv:
        enabled: true
    gateway:
      routes:
        - id: auth-service
          uri: lb://orchestration-service
          predicates:
            - Path=/auth/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/users/**

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

# jwt.secret берётся из Vault secret/application
